
input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

li {
  text-decoration: none;

}
 ul {
   text-decoration: none;
   list-style: none;
     margin-block-start: 0;
     margin-block-end: 0;
     padding-inline-start: 0;
 }